*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: linear-gradient(to right, #f5f7fa, #c3cfe2);
}

.signup-form {
  background-color: #f4f6f8;
  
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  display: flex;
  flex-direction: column;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form input {
  margin: 10px 0;
  padding: 10px;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 4px;
}

.signup-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-form button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.success {
  color: green;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.login-link {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
